.projectImage {
    height: auto;
    width: 600px;
    margin-right: 20px;
    object-fit: cover;
}

.title {
    margin-bottom: 30px;
}

.projectChip,
.projectToolChip,
.projectLinkChip {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    /* Adjust the value to control the roundness of the button */
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    /* White text color */
    border: none;
    /* Remove border */
    cursor: pointer;
    margin-right: 10px;
}

.projectToolChip {
    background-color: #4CAF50;
    margin-bottom: 5px;
}

.projectLinkChip {
    background-color: blue;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

@media screen and (width<800px) {
    .projectContainer {
        flex-direction: column;
    }

    .projectImage {
        width: 100vw;
    }
}